<!doctype html>
<html>
  <head>
    <title>Meltdown Menu</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>

    <link href="static/styles/style.css" rel="stylesheet" type="text/css">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
  </head>

  <body>
    <div id="page" class="page">
      <main class="page__main">
        <div class="carousel">

          <section class="carousel__slide"
            v-if="promos.length"
            :class="{'carousel__slide--current':currentScreen === 'promos' }"
          >
            <div class="screen screen--promo">
              <div class="screen__body">
                <div class="promo">
                  <img class="promo__image" v-if="promos.length" v-bind:src="promos[0].imageUrl">
                </div>
              </div>
            </div>
          </section>

          <section class="carousel__slide"
            v-if="schedule.length"
            :class="{'carousel__slide--current':currentScreen === 'schedule' }"
          >
            <div class="screen screen--schedule">
              <header class="screen__header">
                <h2 class="schedule__title">Schedule</h2>
              </header>

              <div class="screen__body">
                <div id="schedule" class="schedule">
                  <div class="schedule__item" v-for="item in schedule">
                    <div class="schedule-item">
                      <div class="schedule-item__date">{{ item.day }}</div>
                      <div class="schedule-item__title">
                        <div class="title">
                          <h3 class="title__primary">{{ item.title }}</h3>
                          <h4 class="title__secondary">{{ item.subtitle }}</h4>
                        </div>
                      </div>
                      <div class="schedule-item__icons">
                        <ul class="icon-list">
                          <li class="icon-list__item" v-for="icon in item.icons">
                            <div class="icon" v-bind:class="['icon--' + icon]">{{ icon }}</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

              </div>
            </div>
          </section>

          <section class="carousel__slide"
            v-if="specials.length"
            :class="{'carousel__slide--current':currentScreen === 'specials' }"
          >
            <div class="screen screen--specials">
              <header class="screen__header">
                <h1 class="logo">Meltdown Menu</h1>
              </header>

              <div class="screen__body">
                <ul id="specials" class="menu">
                  <li class="menu__item" v-for="item in specials">
                    <div class="item">
                      <h3 class="item__title">{{ item.title }}</h3>
                      <p class="item__description">{{ item.description }}</p>
                      <div class="item__price">
                        <div class="price">
                          <span class="price__currency">$</span> 
                          <span class="price__amount">{{ item.price }}</span>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <footer class="screen__footer">
                <div class="social">
                  <div class="social__icon social__icon--facebook">facebook.com</div>
                  <div class="social__icon social__icon--twitter">twitter.com</div>
                  <div class="social__icon social__icon--instagram">instagram.com</div>
                  <div class="social__icon social__icon--discord">discord.gg</div>
                  <div class="social__link"> /MeltdownToronto</div>
                </div>
              </footer>
            </div>
          </section>

        </div>
      </main>
    </div>

    <script src="static/scripts/content.js"></script>
  </body>
</html>
