@font-face {
  font-family: 'Industry';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Industry_Medium.otf") format("opentype");
}

@font-face {
  font-family: 'Industry';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Industry_Book.otf") format("opentype");
}

@font-face {
  font-family: 'Industry';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Industry_Book.otf") format("opentype");
}

@font-face {
  font-family: 'Industry';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Industry_Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Industry';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Industry_Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Industry';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Industry_Ultra.otf") format("opentype");
}

@keyframes pulse {
  from { transform: scale(1); }
  to   { transform: scale(1.05); }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;

  background: #000 url('../images/background.png') top center;
  background-size: cover;
  font-family: Industry, arial, helvetica, san-serif;
  color: #FFF;
  text-align: center;
  overflow: hidden;
}

.carousel {
  position: relative;
}

.carousel__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  transition: opacity 2s linear;
}

.carousel__slide--current {
  opacity: 1;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 56.25vh;
  height: 100vh;
  margin: 0 auto;
}

.screen--specials {
  padding: 2vh;
}

.screen--schedule {
}

.screen__header {
  margin-bottom: 4vh;
}

.screen__body {
}

.screen__footer {
  margin-top: 3vh;
}

.logo {
  display: inline-block;
  width: 20vh;

  background: url('../images/logo.png') center center no-repeat;
  background-size: contain;
  text-indent: -9999px;
  font-size: 0;
  animation: pulse 1300ms ease-in-out infinite alternate;
}

.logo::after {
  content: '';
  display: block;
  padding-top: 90%;
  width: 100%;
}

.menu {
  margin: 0 auto;
  padding: 0 8vh;

  list-style: outside none;
}

.menu__item {
  padding: 5vh 0 0.5vh 0;

  background: url('../images/divider.png') center 0.5vh no-repeat;
  background-size: 100% auto;
}

.item {
}

.item__title {
  margin: 0;
  margin-bottom: 1vh;

  font-size: 4.4vh;
  font-weight: 500;
  text-transform: uppercase;
}

.item__description {
  margin: 0;
  margin-bottom: 1vh;

  font-size: 1.6vh;
  color: #97e300;
}

.item__price {
  margin-top: 2vh;

  font-size: 2.5vh;
  font-weight: 500;
}

.social {
}

.social__icon {
  display: inline-block;
  width: 3.7vh;
  height: 3.7vh;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
  font-size: 0;
}

.social__icon + .social__icon {
  margin-left: 1vh;
}

.social__icon--facebook {
  background-image: url('../images/icon-facebook.png');
}

.social__icon--twitter {
  background-image: url('../images/icon-twitter.png');
}

.social__icon--instagram {
  background-image: url('../images/icon-instagram.png');
}

.social__icon--discord {
  background-image: url('../images/icon-discord.png');
}

.social__link {
  margin-top: 1vh;

  font-size: 2.2vh;
  color: #FFF;
}

.schedule {
}

.schedule__image {
  width: 100%;
  height: 100vh;

  background: url('../images/schedule.png') center center no-repeat;
  background-size: cover;
}